<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>勤怠登録画面</title>
<link rel="icon" type="image/png" href="../resources/image/favicon.ico" th:href="@{/resources/image/favicon.ico}">
<link rel="stylesheet" type="text/css" href="../resources/css/layout.css" th:href="@{/resources/css/layout.min.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/lib/validationEngine.jquery.css" th:href="@{/resources/css/lib/validationEngine.jquery.min.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/lib/mprogress.css" th:href="@{/resources/css/lib/mprogress.min.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/lib/sal.css" th:href="@{/resources/css/lib/sal.min.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/input.css" th:href="@{/resources/css/input.css}">
</head>
<body>

  <div align="center" class="contentLayout">

    <h2>勤怠登録画面</h2>
    <form id="attendRegistForm" action="./confirm" th:action="@{./confirm}" method="post" th:object="${attendRegistForm}" novalidate>

      <!--/* table部ここから */-->
      <div class="table">
        <div class="table-row">
          <div class="table-data">
            <div class="cp_ipselect cp_sl01">
              <select id="year" name="year">
                <option th:each="year : ${yearList}" th:value="${year}" th:selected="${year == selectedYear}" th:inline="text">[[${year}]]</option>
              </select>
            </div>
          </div>
          <div class="table-data">&nbsp;</div>
          <div class="table-data">
            <div class="cp_ipselect cp_sl01">
              <select id="month" name="month">
                <option th:each="month : ${monthList}" th:value="${month}" th:selected="${month == selectedMonth}" th:inline="text">[[${month}]]</option>
              </select>
            </div>
          </div>
          <div class="table-data">&nbsp;</div>
          <div class="table-data">
            <input type="button" id="changeCalendar" name="changeCalendar" value="反 映" />
          </div>
        </div>
      </div>
      <!--/* table部ここまで */-->

      <!--/* table部ここから */-->
      <div class="table">
        <div class="table-row">
          <div class="table-data" th:text="#{weekDay}"></div>
          <div class="table-data" th:text="#{day}"></div>
          <div class="table-data" th:text="#{workStartTime}"></div>
          <div class="table-data" th:text="#{workEndTime}"></div>
          <div class="table-data" th:text="#{ontimeLeave}"></div>
        </div>

        <div class="table-row" th:each="calendar, status : ${calendarList}">
          <div class="table-data weekday" th:text="#{${calendar.weekDay}}"></div>
          <input type="hidden" th:name="${'registFormList[' + status.index + '].weekDay'}" th:value="${calendar.weekDay}" />

          <div class="table-data" th:text="${calendar.day}"></div>
          <input type="hidden" th:name="${'registFormList[' + status.index + '].day'}" th:value="${calendar.day}" />

          <div class="table-data">
            <input type="text" class="validate[custom[number]]" th:name="${'registFormList[' + status.index + '].workStartHour'}" size="2" maxlength="2" />
            :
            <input type="text" class="validate[custom[number]]" th:name="${'registFormList[' + status.index + '].workStartMinute'}" size="2" maxlength="2" />
          </div>
          <div class="table-data">
            <input type="text" class="validate[custom[number]]" th:name="${'registFormList[' + status.index + '].workEndHour'}" size="2" maxlength="2" />
            :
            <input type="text" class="validate[custom[number]]" th:name="${'registFormList[' + status.index + '].workEndMinute'}" size="2" maxlength="2" />
          </div>
          <div class="table-data applyOntimeLeave">
            <input type="button" th:id="${'applyOntimeLeave['  + status.index + ']'}" value="反 映" />
          </div>
        </div>
      </div>
      <!--/* table部ここまで */-->

      <!--/* table部ここから */-->
      <div class="table">
        <div class="table-row">
          <div class="table-data">
            <input type="submit" value="確 認" />
          </div>
        </div>
      </div>
      <!--/* table部ここまで */-->

    </form>
  </div>

  <div th:replace="layout/layout :: footer"></div>

  <script type="text/javascript" src="../resources/js/lib/jquery.js" th:src="@{/resources/js/lib/jquery.min.js}"></script>
  <script type="text/javascript" src="../resources/js/lib/jquery.validationEngine-ja.js" th:src="@{/resources/js/lib/jquery.validationEngine-ja.min.js}"></script>
  <script type="text/javascript" src="../resources/js/lib/jquery.validationEngine.js" th:src="@{/resources/js/lib/jquery.validationEngine.min.js}"></script>
  <script type="text/javascript" src="../resources/js/lib/mprogress.js" th:src="@{/resources/js/lib/mprogress.min.js}"></script>
  <script type="text/javascript" src="../resources/js/lib/sal.js" th:src="@{/resources/js/lib/sal.min.js}"></script>
  <script type="text/javascript" src="../resources/js/lib/list.js" th:src="@{/resources/js/lib/list.min.js}"></script>
  <script type="text/javascript" src="../resources/js/common/common.js" th:src="@{/resources/js/common/common.min.js}"></script>
  <script type="text/javascript" th:inline="javascript">
    $(function() {

      // validate処理
      jQuery("#attendRegistForm").validationEngine({
        promptPosition : "topLeft:0"
      });

      // Calendarを変更するリクエストを送信
      $("#changeCalendar").on("click", function() {
        var form = $("<form></form>", {
          method : "get",
          action : "../attendRegist/changeCalendar"
        });

        form.append($("<input />", {
          type : "hidden",
          name : "year",
          value : $("[name=year]").val()
        }));

        form.append($("<input />", {
          type : "hidden",
          name : "month",
          value : $("[name=month]").val()
        }));

        form.appendTo(document.body);
        form.submit();
      });

      /*<![CDATA[*/
      var ontimeDto = /*[[ ${ontimeDto} ]]*/;
      var ontimeStartHour = ontimeDto.workStartHour;
      var ontimeStartMinute = ontimeDto.workStartMinute;
      var ontimeEndHour = ontimeDto.workEndHour;
      var ontimeEndMinute = ontimeDto.workEndMinute;
      /*]]>*/

      $(window).on('load', function() {
        $.each($("div.weekday"), function(i, val) {

          if ($(val).text() == "土") {
            // 土曜日の場合
            $(val).addClass("saturday");
            $(".saturday").css({
              "color" : "#0000ff"
            });

          } else if ($(val).text() == "日") {
            // 日曜日の場合
            $(val).addClass("sunday");
            $(".sunday").css({
              "color" : "#ff0000"
            });

          } else {
        	  // 平日の場合
        	$(val).addClass("workday");
          }
        });

        $.each($("div.applyOntimeLeave"), function(i, val) {
          $(val).children("input").on("click", function() {
            $("input[name='registFormList[" + i + "].workStartHour']").val(ontimeStartHour);
            $("input[name='registFormList[" + i + "].workStartMinute']").val(ontimeStartMinute);
            $("input[name='registFormList[" + i + "].workEndHour']").val(ontimeEndHour);
            $("input[name='registFormList[" + i + "].workEndMinute']").val(ontimeEndMinute);
            console.log($("input[name='registFormList[" + i + "].workStartHour']").val());
          });
        });

      });

    });
  </script>
</body>
</html>
