<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ログイン画面</title>
<link rel="icon" type="image/png" href="../resources/image/favicon.ico" th:href="@{/resources/image/favicon.ico}">
<link rel="stylesheet" type="text/css" href="../resources/css/loginLayout.css" th:href="@{/resources/css/loginLayout.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/lib/validationEngine.jquery.css" th:href="@{/resources/css/lib/validationEngine.jquery.min.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/lib/mprogress.css" th:href="@{/resources/css/lib/mprogress.min.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/lib/sal.css" th:href="@{/resources/css/lib/sal.min.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/input.css" th:href="@{/resources/css/input.min.css}">
</head>
<body>

  <div class="login" data-sal="slide-up">
    <form id="loginForm" action="./top" th:action="@{./top}" method="post" th:object="${loginForm}" novalidate>

      <div th:if="${errorMessage} != null" data-sal="slide-up">
        <div class="errorMessage" data-sal="slide-up">
          <p th:text="${errorMessage}"></p>
        </div>
      </div>

      <div class="errorMessage" th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}" data-sal="slide-up"></div>
      <div class="errorMessage" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" data-sal="slide-up"></div>
      <div class="unit">
        <input type="text" class="validate[required]" th:field="*{loginId}" maxlength="16" placeholder="ログインID" />
      </div>
      <div class="unit">
        <div class="checkbox">
          <input type="password" class="validate[required]"  th:field="*{password}" maxlength="16" placeholder="パスワード" />
          <label>
            <input type="checkbox" id="password-check" class="checkbox-input" />
            <span class="checkbox-parts">パスワードを表示する</span>
          </label>
        </div>
      </div>
      <div class="unit">
        <input id="submit" type="submit" value="ログイン" />
      </div>
    </form>
  </div>

  <br>

  <div th:replace="layout/layout :: footer"></div>

  <script type="text/javascript" src="../resources/js/lib/jquery.js" th:src="@{/resources/js/lib/jquery.min.js}"></script>
  <script type="text/javascript" src="../resources/js/lib/jquery.validationEngine-ja.js" th:src="@{/resources/js/lib/jquery.validationEngine-ja.min.js}"></script>
  <script type="text/javascript" src="../resources/js/lib/jquery.validationEngine.js" th:src="@{/resources/js/lib/jquery.validationEngine.min.js}"></script>
  <script type="text/javascript" src="../resources/js/lib/mprogress.js" th:src="@{/resources/js/lib/mprogress.min.js}"></script>
  <script type="text/javascript" src="../resources/js/lib/sal.js" th:src="@{/resources/js/lib/sal.min.js}"></script>
  <script type="text/javascript" src="../resources/js/common/common.js" th:src="@{/resources/js/common/common.min.js}"></script>
  <script type="text/javascript">
    $(function() {

      sal({
        threshold: 1,
        once: false
      });

      // validate処理
      jQuery("#loginForm").validationEngine({
        promptPosition : "topLeft:0"
      });

      // 進捗バーの処理
      var mprogress = new Mprogress();
      $("#loginId").on("change", function() {
        var value = 0;
        if ($("#loginId").val() !== "") {
          value += 1;
        }
        if ($("#password").val() !== "") {
          value += 1;
        }
        var progressValue = value / 2;
        mprogress.set(progressValue);
      });
      $("#password").on("change", function() {
        var value = 0;
        if ($("#loginId").val() !== "") {
          value += 1;
        }
        if ($("#password").val() !== "") {
          value += 1;
        }
        var progressValue = value / 2;
        mprogress.set(progressValue);
      });

      var password = $('#password').get(0);
      var passwordCheck = $('#password-check').get(0);
      passwordCheck.addEventListener('change', function() {
        if (passwordCheck.checked) {
          password.setAttribute('type', 'text');
        } else {
          password.setAttribute('type', 'password');
        }
      }, false);

    });
  </script>
</body>
</html>
